
@use "../custom" as *;
@use "../components/mixins" as *;

#backToTopContainer{
    position: relative;
    
    a{
        @include gradient;
        width: 4rem;
        height: 4rem;
        color: $gray-800;
        text-align: center;
        border-radius: 50%;
        position: fixed;  
        right: 2%;  
        bottom: 2%;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: 1s; 
         
        &:hover{
            color: $white;
        }

        &:active{
            i{
                transform: scale(0.95);
            }
        }
    }
}