@use "../custom" as *;


.companies{ 
    

    &__logo--container{  
        margin: 5rem auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));


        div{
            div{ 
                margin: 0 auto;

                img{
                    width: 100%;
                    height: 100%;
                    filter: grayscale(1);

                    &:hover{
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}
// .companies{
//     padding: 0 0 5rem 0;

//     &__Logo-box{
//         width: 2rem;
//         height: 2rem; 
//         margin-bottom: 2rem;
//         padding: 0.5rem;
//         text-align: center;
//         position: relative;
//         background: $gray-200;
        


        
//     }
    
    
//     img{
//         cursor: pointer;
//         height: 100%; //5rem;;
//         width:  100%;//4.3rem;
//         filter: grayscale(1);
//         object-fit: contain;
//         // border: 1px solid;

//         @include media-breakpoint-down(sm){
//             // height: 30vh; //5rem;;
//             // width:  100%;//4.3rem;
//         }

//         &:hover{
//             filter: grayscale(0);
//         }
//         }
// }