@use "../custom" as *;
@use "../components/mixins" as *;
 

.get-started{
    padding: 4rem 0;
    background: $gray-200; 
}

.cta{

    margin-bottom: 3rem;

    @include media-breakpoint-down(sm){
        margin-bottom: 0;
    }
        
        

        
        

        &__info{
            @include gradient;
            border-radius: 5px 0 0 5px; 
            padding: 3rem;
            color: $white;

            .lh-lg{
                font-size: 1.3rem;

                @include media-breakpoint-down(sm){
                    font-size: 1rem;
                }
            }

            .display-3--brief{
                font-size: 1.5rem;


                @include media-breakpoint-down(sm){
                    font-size: 1.3rem;
                }
            }

            &--list{ 
                font-size: 1.3rem;
                list-style: none;

                li::before{
                    content: "\f00c";
                }

                @include media-breakpoint-down(sm){
                    font-size: 1rem;
                }
                     
            }


            @include media-breakpoint-down(lg){  
                border-radius: 5px 5px 0 0;
      
            }
        }

        
        

        &__form{
            border-radius: 0 5px 5px 0 ;
            padding: 3rem;

            @include media-breakpoint-down(lg){  
                border-radius:0 0 5px 5px ;
      
            }

            @include media-breakpoint-down(sm){
                padding: 0.3rem;
            }

            .names{ 
                display: flex; 
                justify-content: space-between;

                input{
                    
                    width: 48%;
 
                }
                
                
                @include media-breakpoint-down(sm){ 
                    flex-direction: column;

                    input{
                    
                        width: 100%;
    
                        
                    }
                }
 

                
            }

            &--btn{
                @include gradient;
            }
        }
    }
 