@use "../custom" as *;
@use "../components/mixins" as *;

.portfolio{
    padding: 4rem 0;
    transition: display 1s;
    
    button{
        text-transform: capitalize;
    }
}

.projects-container{
    transition: 1s;
}


.portfolio-box{
    position: relative;
    // height: 100%;
    height: 22.5rem;
    width: minmax(18.5rem, 100%);
    // width: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 1.2rem;
    border-radius: 5px;
    border-top: 0.5rem solid $purple-light;
    


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 5px 5px 0;
    }

    .portfolio-info{
        background-color: rgba($primary, 0.75);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transition: all 1s;
        

        .caption{
            text-align: center;
            @include absoluteCenter;
            color: $white;

            h4{
                text-transform: uppercase;
            }
        }   
    } 

    // show caption on hover
    &:hover{
        .portfolio-info{
            opacity: 1;
            visibility: visible;

        } 

        img{
            transition: all 1s;
            transform: scale(1.3);
        }
    }
}